
  <div *ngIf="startRendering" class="yammer-feed-container">
    <div *ngFor="let item of finalfeed" class="yammer-feed-item">
      <div class="header">
        <div class="user-details">
          <img [src]="item.dp" alt="no image" class="user-image" />
          <div class="user">
            <div class="name">{{ item.name }}</div>
            <div class="timestamp">{{ item.published_at }}</div>
          </div>
        </div>
        <div class="seen">Liked by {{item.likes}}</div>
      </div>
      <div class="title">{{ item.description }}</div>

      <div>
        <ngb-carousel *ngIf="item.Images && item.Images.length > 0" class="image-container">
          <ng-template ngbSlide *ngFor="let image of item.Images">
            <img [src]="image.images" alt="no image" class="images" />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>

      <!-- <div class="footer-container">
        <div class="likes">
          <span>Like </span>
          <span>Comment </span>
          <span>Share </span>
        </div>
        <div>
          <span>Liked by {{ item.liked_by }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!startRendering">
      <p>Loading Yammer feed...</p>
    </div>
  </div> -->
    <!-- <ngb-carousel *ngIf="image">
	<ng-template ngbSlide>
		<div *ngFor="let image of item.Images" class="picsum-img-wrapper">
			<img [src]="image.images" alt="Random first slide" />
		</div>
	</ng-template>
</ngb-carousel> -->
  
